.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 90px 0 80px;
    &__item {
        width: 40%;
    }
    &__title {
        color: #fff;
        font-family: $slab;
        font-weight: 500;
        font-size: 45px;
        margin-bottom: 25px;
    }
    &__text {
        color: #fff;
        font-size: 14px;
        font-weight: light;
        margin-bottom: 25px;
        line-height: 1.9;
        &:nth-last-child(2) {
            margin-bottom: 40px;
        }
    }
    &__btn {
        background-color: rgba(216, 216, 216, 0.29);
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        width: 120px;
        text-align: center;
        font-size: 13px;
        transition: background .1s linear;
        &:hover {
            background-color: rgba(216, 216, 216, 0.39);
        }
        &:active {
            background-color: rgba(216, 216, 216, 0.5);
            box-shadow: 0 0 5px 0 #fff;
        }
    }
    &__image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
        &__image {
            display: none;
        }
        &__item {
            width: 90%;
        }
    }
}