.service {
    width: 100%;
    padding: 130px 0 80px; 
    &__header {
        text-align: center;
        width: 50%;
        margin: 0 auto 80px;
        &__title {
            color: #6B3C96;
            font-family: $slab;
            font-weight: 500;
            font-size: 40px;
        }
        &__text {
            color: #4E4E4E;
            font-weight: light;
            font-size: 14px;
            line-height: 1.9;
        }
    }
    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 28%;
        text-align: left;
        margin-bottom: 50px;
    }
    &__image {
        max-width: 65px;
        margin-bottom: 20px;
    }
    &__title {
        color: #393743;
        font-weight: 500;
        font-size: 23px;
        margin-bottom: 25px;
    }
    &__text {
        color: #4E4E4E;
        font-size: 13px;
        font-weight: light;
        line-height: 1.9;
    }
}

@media (max-width: 768px) {
    .service {
        &__header {
            width: 90%;
        }
        &__item {
            width: 90%;
        }
        &__items {
            flex-direction: column;
            align-items: center;
        }
    }
}