@import 'vars';
@import 'header';
@import 'benefits';
@import 'about';
@import 'service';
@import 'secure';
@import 'choose';
@import 'footer';

body {
    margin: 0;
    padding: 0;
    font-family: $poppins;
    font-size: 13px;
}

*, *:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn--link:hover{
    opacity: 1;
    text-shadow: 0 0 10px #fff;
    
}

.section {
    width: 100%;
    &_benefits {
        width: 100%;
        background: #2A08A4 url('../img/bg_header-gradient.jpg') no-repeat;
        background-position: 0 85%;
        background-size: cover;
        border-top: 1px solid rgba(255, 255, 255, 0.048);
        
    }
    &__about {
        background: rgb(16, 1, 105) url('../img/About.jpg') no-repeat center;
        background-size: cover;
        &_bg {
            background: rgba(16, 1, 105, 0.72);
       }
    }
    &__secure {
        background: #1B1543 url('../img/bg_secure.jpg') no-repeat center / cover;
    }
    &_choose {
        background: url('../img/choose_bg.jpg') no-repeat center;
        background-size: cover;
        width: 100%;
        &_bg {
            width: 100%;
            background: linear-gradient(to right bottom, rgba(36, 50, 130, 0.82) , rgba(79, 10, 123, 0.82));
        }
    }
    &__footer {
        width: 100%;
        background-color: #1B1543;
    }
}